<?php

declare(strict_types=1);

/**
 * This file must be copied in your config/autoload directory and values must be replaced
 */
return [
    'api-tools-mvc-auth' => [
        'authentication' => [
            'adapters' => [
                /**
                 * Name of the adapter with its fqcn
                 */
                'auth0' => [
                    'adapter' => \Swarmtech\Auth0\MvcAuth\Adapter\AuthenticationAdapter::class
                ]
            ]
            /**
             * Namespace of your Apigility
             */
            'map' => [
                'StayJs\\V1' => 'auth0'
            ]
        ]
    ],
    'auth0' => [
        /**
         * Client configuration to access to auth0 api. This API is use to get data like users, roles, etc..
         * The domain match a like
         */
        'client' => [
             /**
              * The domain match a format like https://dev-a-jhgfd4.eu.auth0.com/api/v2/
              */
            'domain' => 'https://your-tenant-in-auth0.eu.auth0.com/api/v2/',
        ],
        /**
         * Configuration to authenticate to auth0 with your application
         */
        'authentication' => [
            /**
             * Domain on which authenticate. Format must be like dev-a-trehg4.eu.auth0.com
             */
            'domain' => 'your-auth0-tenant.eu.auth0.com',
            /**
             * The client id of this application available on auth0
             */
            'client_id' => 'yeQPddExampleExampleExampleExample',
            /**
             * Client secret of this application available on auth0
             */
            'client_secret' => 'TWpGBy1op68wdrExampleExampleExampleExampleExampleExampleExampleExampleExample',
        ],
        'jwt-verifier' => [
            /**
             * Valid audience is the client IDs of your apps about to consume your application
             */
            'valid_audiences' => [
                'ClbLQoTtQmBCYFfBdnfzcqExample'
            ],
            /**
             * Authorized issuer is the application which you authorized to issue JWT
             * On auth0 that the name of your tenant something like
             * https://dev-a-poifd1.eu.auth0.com/
             */
            'authorized_issuers' => [
                'https://your-auth0-tenant.eu.auth0.com/'
            ]
        ],
        /**
         * Handler must be the fqcn of the class to use
         * If the value is not set the default value is \Auth0\SDK\Helpers\Cache\NoCacheHandler::class
         *
         * Possible values:
         *   - \Auth0\SDK\Helpers\Cache\NoCacheHandler::class
         *   - \Auth0\SDK\Helpers\Cache\FileSystemCacheHandler::class
         *   - \Swarmtech\Auth0\RedisCacheHandler::class
         */
        'cache' => [
            'handler' => \Swarmtech\Auth0\RedisCacheHandler::class
        ]
    ],

    /**
     * If handler is of type  \Swarmtech\Auth0\RedisCacheHandler::class you must define a redis configuration
     * with key name jwk-fetcher-cache as follow
     */
    'redis' => [
        'auth0-jwk-fetcher-cache' => [
            'host' => 'redis.example.com',
            'port' => 6379
        ]
    ]
];
